h1 {
  margin: 100px 0 15px 0;
}

.dish_section {
  border: 1px solid black;
  position: relative;
  background-color: #C0C0C0;
}

.dish_span {
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  right: -1px;
  top: -1px;
  width: 100px;
  text-align: center;
}

section p {
  margin: 40px 10px 10px 10px;
}

.chicken_title {
  background-color: #0000FF;
}

.beef_title {
  background-color: #FF0000;
}

.sushi_title {
  background-color: #FFFF00;
}

.dish_item {
  margin: 15px 0;
}
