* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

section, span {
  border: 1px solid black;
}

section {
  position: relative;
  background-color: #C0C0C0;
}

span {
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  right: -1px;
  top: -1px;
  width: 100px;
  text-align: center;
}

p {
  margin: 40px 10px 10px 10px;
}

.chicken_title {
  background-color: #0000FF;
}

.beef_title {
  background-color: #FF0000;
}

.sushi_title {
  background-color: #FFFF00;
}

.row {
  width: 100%;
}

@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33%;
    padding: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .col-md-6, .col-md-12 {
    padding: 15px;
  }

  .col-md-6 {
    float: left;
    width: 50%;
  }

  .col-md-12 {
    clear: left;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
    padding: 15px;
  }
}